.HeadContatos{
    text-align: center;
    height: 200px;
    padding-top: 50px;
    background-image: linear-gradient( to right, #a2d3e6, #95cbdd, #19b3dc, #1aa1c7 );
    color: #fff;
    height: 400px;
}
.HeadContatos div{
    display: inline-block;
    margin: 10px;
    padding-top: 60px;
}

.subMenuContato{
    height: 80px;
    text-align: center;
    padding-top: 50px;
    background-image: linear-gradient( to right, #95cbdd, #19b3dc );
    color: #fff;
}