
.SobrePage{
    background-image: linear-gradient( to right, #1aa1c7, #19b3dc, #b6e1ef, #c9ebf7 );
}

.HistoriaSobre{
    text-align: center;
}
.HistoriaSobre p{
    width: 700px;
    margin: auto;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #b6e1ef;
    background-color: #fff;
}

.missaoSobre{
    text-align: center;
}
.missaoSobre p{
    width: 700px;
    margin: auto;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #b6e1ef;
    background-color: #fff;
}
.imgSobre{
    text-align: center;
}



@media (max-width: 600px)
{
    .HistoriaSobre p{
        width: 300px;
    }
    .missaoSobre p{
        width: 300px;
    }
    .imgFatelSobre{
        width: 400px;
    }
}